{% extends 'base.html' %}
{% block content %}


{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    Something went wrong with form!
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}

<h1> <b>Create a new user:</b></h1>
<br>
<br>
<form action="" method=POST class="register-form" > {% csrf_token %} 
    {{ form.as_p }}

<br>
    <a> <b> <u> Password can NOT be reset; if you forget it, You can NOT access your account or messages ever again! </a> </b> </u> 


    <div class="row-cols-10">
        <button type="submit" class="btn btn-primary">Submit</button></div>
</form>

{% endblock %}