{% extends 'base.html' %}

{% block content %}

<div class="boxed">
  <h1>Messages</h1>

    {% if messages1 %}
      <ul>
        <div class="overflow-auto"></div>
        {% for message in messages1 %}
            <li>
              <strong>From:</strong> <p style="color:blue;font-size:20px"><b>
                {{ message.sender.username }}</b>@ {{ message.sent_at }}</p>
                {{ message.content }}<br><br>
            </li>
        {% endfor %}
        </div>

      </ul>
    {% else %}
      <p>You have no messages.</p>
    {% endif %}
</div>


<div class="boxed">
  <h2>Send Message</h2>
  <form method="post">
    {% csrf_token %}
    <label for="recipient">Recipient (username):</label>
    <input type="text" id="recipient" name="recipient"><br>
    <label for="content">Message:</label>
    <textarea id="content" name="content" rows="10" cols="50"></textarea><br>
    <input type="submit" value="Send">
  </form>
</div>

{% endblock %}
