{% extends 'base.html' %}

{% block content %}

<!-- TODO: Select partner, messages(user, partner)-->
<h1>Messages with (?)</h1>
<div class="container">
  <label for="recipient">Recipient (username):</label>
  <input type="text" id="recipient" name="recipient"><br>
<a> OR</a>
<br>
<label for="form-select">Select from recent chatters: </label>
<!-- <select class="form-select" name="recipient"> 
  {%for sender in senders%}
  <option value="1"> {{ sender.username }} </option>
</select>
{% endfor %}-->
</div>
<br>

<h1>Messages</h1>
<div class="boxed">


    {% if messages1 %}
      <ul>
        <div class="overflow-auto">
        {% for message in messages1 %}
            <li>
              <strong>From:</strong> <p style="color:blue;font-size:20px"><b>
                {{ message.sender.username }}</b>@ {{ message.sent_at }}</p>
                {{ message.content }}<br><br>
            </li>
        {% endfor %}
        </div>


    {% else %}
      <p>You have no messages.</p>
    {% endif %}
</div>

<br>
<h2>Send Message</h2>
<div class="boxed">
  <div class="overflow-auto"></div>

  <form method="post">
    {% csrf_token %}


    <label for="content">Message:</label>
    <textarea id="content" name="content" rows="6" cols="50"></textarea><br>
    <input type="submit" value="Send">
  </form>
</div>
</div>

{% endblock %}
