{% extends 'base.html' %}

{% block content %}

<h1>Messages</h1>
<div class="boxed">
  <form method="post">
    {% csrf_token %}
    <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Unlock messages">
</form>
    {% if messages1%}
      <ul>
        <div class="overflow-auto">
        {% for message in messages1 %}
            <li>
              <strong>From:</strong> <p style="color:blue;font-size:20px"><b>
                {{ message.sender.username }}</b>@ {{ message.sent_at }}</p>
                {{ message.content }}<br><br>
            </li>
        {% endfor %}
        </div>


    {% else %}
      <p>You have {{number_of_messages }} messages.</p>
    {% endif %}
</div>

{% endblock %}
