{% extends 'base.html' %}

{% block content %}

<h1>Send Message</h1>
<!-- <div class="boxed"> -->
<div class="overflow-auto">

<form method="post">
  {% csrf_token %}

<!-- TODO: Select partner, messages(user, partner)-->
<div class="container">
  <label for="recipient">Recipient (username):</label> <br>
  <input type="text" id="recipient" name="recipient"><br>
  <br>
<div class="boxed"> 



    <label for="content">Message:</label> <br>
    <textarea id="content" name="content" rows="6" cols="50"></textarea><br>
    <input type="submit" value="Send">
  </form>
  <a> (Max length 500 characters)</a>
</div>
</div>

{% endblock %}
