{% extends 'base.html' %}

{% block content %}

<h1>Messages</h1>

  <form method="post">
    {% csrf_token %}
    <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Unlock messages">
</form>

<br>
<label for="form-select">Filter by sender: </label>
<select onchange="filterMessages()" class="form-select" id="recipient"> 
  <option selected value="default"> </option>
  {%for sender in senders%}
  <option value="">{{ sender.username }} </option>
{% endfor %}
</select>

<script type="text/javascript">
  function filterMessages() {
      d = document.getElementById("recipient").value;
      alert(d);
  }
</script>


<br>
<div class="boxed">
    {% if messages1%}
      <ul>
        <div class="overflow-auto">
        {% for message in messages1 %}
            <li>
              <strong>From:</strong> <p style="color:blue;font-size:20px"><b>
                {{ message.sender.username }}</b>@ {{ message.sent_at }}</p>
                {{ message.content }}<br><br>
            </li>
        {% endfor %}
        </div>


    {% else %}
      <p>You have {{number_of_messages }} messages.</p>
    {% endif %}
</div>

{% endblock %}
